.body {
  background: #ffff;
  // background: red;
  height: 780px;
  margin: 80px 0;

  .headerCon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  .header {
    font-family: var(--merriweather-font), sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #00007B;
  }

  .bodyCon {
    display: flex;
    justify-content: space-around;
    margin: 0 5vw;
  }

  .cardsCon {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 30px;
    padding-bottom: 10px;
  }

  .card {
    margin: 4px 0;
    height: 90px;
    width: 75%;
    background-color: #FCFCCD;
    padding: 5px 10px;
    border: 2px solid #C3C4CD;
    border-top-left-radius: 8px;
    border-top-right-radius: 43px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 43px;
  }

  .cardHd {
    font-family: var(--merriweather-font), sans-serif;
    font-size: 20px;
    margin-bottom: 3px;
  }

  .cardBd {
    font-family: var(--merriweather-font), sans-serif;
    font-size: 15px;
  }

  .imageCon {
    // height: 600px;
    overflow: hidden;
  }

  .img {
    // margin-top: -120px;
  }
}
